html{box-sizing: border-box;}
*,*::before,*::after{
  box-sizing: inherit;
}
body{
  margin: 0;
  height: 0;
  font-size: 16px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.box{
  position: relative;
}
.cf::after{
  content: "";
  display: table;
  clear: both;
}
.wrapper{
  width: 400px;
  padding: 70px 40px 40px;
  margin: 100px auto 0;
  background-color: #fff;
}
.header_title{
  text-transform: uppercase;
  font-size: 1rem;
  color: #aaa;
}
.header_title span{
  font-size: 2.3rem;
  color: rgb(88, 88, 245);
}
.header_box_title_left{
  float: left;
}
.header_box_title_left::after{
  content: '';
  position: relative;
  display: inline-block;
  clear: both;
  width: 35px;
  height: 6px;
  background-color: #aaa;
  left: 40px;
  bottom: 25px;
  }
.header_box_title_right{
  float: right;
}
table{
  width: 100%;
  text-transform: uppercase;
  padding-bottom: 20px;
}
tbody td{
  color: #aaa;
  font-weight: bold;
}
.malumotlar{
  text-transform: uppercase;
  font-size: .9rem;
}
.malumotlar_text{
  color: #aaa;
}
.malumotlar_title{
  font-size: .9rem;
}
img{
  max-width: 175px;
}
.qr_kod{
  position: absolute;
  display: block;right: 0;
  bottom: 0;
}